<%- include('header')%>
<div class="ui container mt-5 center aligned">
    <a href="/login" class="ui button">Sign In</a href="/">
    <a href="/register" class="ui button">Sign Up</a href="/">
    <a href="/loggout" class="ui button">Loggout</a href="/">
</div>